<div id="rounded">
<center>
  <p><strong>Welcome</strong></p>
<p><%= current_user.name %></p>
<%= image_tag "#{current_user.picture}" %>
<p><strong>Bankroll</strong></p>
<p>$ <%= current_user.bankroll %></p>
<p><strong>Wager</strong></p>
<p>$ value to go here</p>
<p>Picture of 3 chips to go here as buttons to change wager amount</p>
</div>