<% if (defined?(@result)).nil? %>
<center>
<table>
  <tr><td>
    <%= button_to "HIT", { :controller => 'game', :action => 'hit' }, :remote => true, :class => 'btn btn-large btn-primary' %>
  </td><td>
    <%= button_to "STAY", { :controller => 'game', :action => 'stay' }, :remote => true, :class => 'btn btn-large btn-primary' %>
  </td></tr>
</table>
</center>
<% else %>
<%= button_to "DEAL", { :controller => 'game', :action => 'deal' }, :remote => true, :class => 'btn btn-large btn-primary' %> 
<% end %>