<div id="logindiv">
  <h1>Welcome to Tims BlackJack</h1>
  <p> To add a social aspect to this one player BlackJack 
    game it has been intergrated with facebook aloowing you to 
    see how your bankroll compares to those on your friends list. 
    Enjoy!!</p>
  <%= link_to(img_tag('login_fb.png'), "/auth/facebook", id: "sign_in") %>
</div>