@import "bootstrap";
/* mixins and fonts etc */
@font-face {
	font-family: Goth;
	src: url(/assets/Goth.ttf);
}
/* page settings */
* { 
	padding: 0;
	margin: 0;
}
#wrapper {
  margin: auto;
  width: 610px;
}
#headpic {
  float: left ;
  width: 114px;
  background: black;
  margin: 0;
  padding: 0;
  text-align: right;
}
#headerbar {
  min-height: 100px;
  background: black;
  width: 600px;
}
#header {
  min-height: 100px;
  background: black;
  width: 486px;
  float: left ;
}
#header h1 {
  padding: 30px 0px 0px 0px;
  font-family: Goth;
  font-size: 50px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
#betbar {
  float: left;
  width: 100px;
  background-image: url(/assets/test.png);
  height: 500px;
}
#rounded {
  border: 2px solid #FFC90E;
  border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
  height: 450px;
  padding: 25px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
}
#rounded p {
  color: #FFC90E;
}
#mainbox {
  float: left;
  width: 500px;
  height: 500px;
  margin: auto;
  text-align: center;
  background-image: url(/assets/test.png);
}
#result {
  width: 400px;
  min-height: 51px;
  margin: auto;
  text-align: center;
}
#player {
  padding: 50px 0px 0px 0px;
  width: 400px;
  height: 120px;
  margin: auto;
  text-align: center;
  color: yellow;
}
#dpic {
  min-height: 40px ;
}
#dealer {
  width: 400px;
  height: 150px;
  margin: auto;
  text-align: center;
}
#dscore {
  min-height: 27px;
  color: yellow;
}
#buttons {
  padding: 10px 0px 0px 0px;
  width: 400px;
  height: 80px;
  margin: auto;
  text-align: center;
}
