@import "bootstrap";
/* mixins and fonts etc */
@font-face {
	font-family: Goth;
	src: url(/assets/Goth.ttf);
}
/* page settings */
* { 
	padding: 0;
	margin: 0;
}
#wrapper {
  margin: auto;
  width: 702px;
  padding-top: 15px;
}
#headpic {
  float: left ;
  width: 114px;
  background: black;
  margin: 0;
  padding: 0;
  text-align: right;
}
#headerbar {
  min-height: 100px;
  background: black;
  width: 700px;
}
#header {
  min-height: 100px;
  background: black;
  width: 586px;
  float: left ;
}
#header h1 {
  padding: 30px 0px 0px 0px;
  font-family: Goth;
  font-size: 50px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
#betbar {
  float: left;
  width: 100px;
  background-image: url(/assets/test.png);
  height: 500px;
}
#rounded {
  border: 2px solid #FFC90E;
  border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
  height: 470px;
  padding: 15px 0px 0px 0px;
  margin: 7px 0px 0px 2px;
}
#rounded p {
  color: #FFC90E;
}
#mainbox {
  float: left;
  width: 600px;
  height: 500px;
  margin: auto;
  text-align: center;
  background-image: url(/assets/test.png);
}
#result {
  width: 400px;
  min-height: 51px;
  margin: auto;
  text-align: center;
}
#player {
  padding: 50px 0px 0px 0px;
  width: 400px;
  height: 120px;
  margin: auto;
  text-align: center;
  color: yellow;
}
#dpic {
  min-height: 40px ;
}
#dealer {
  width: 400px;
  height: 150px;
  margin: auto;
  text-align: center;
}
#dscore {
  min-height: 27px;
  color: yellow;
}
#buttons {
  padding: 10px 0px 0px 0px;
  width: 400px;
  height: 80px;
  margin: auto;
  text-align: center;
}
#logindiv {
  margin: auto;
  width: 400px;
  text-align: center;
  background: #808080 ;
  border: 2px solid black;
  border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
  margin-top: 25px;
}
#chips a:hover {
    margin-left: 2px;
}
#winner {
  width: 390px;
  min-height: 49px;
  border: 2px solid green;
  background-color: #45D366;
  border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
}
#winner p {
  color: green;
  font-size: 20px;
  text-shadow: -1px 0 #33AB4F, 0 1px #33AB4F, 1px 0 #33AB4F, 0 -1px #33AB4F;
}
#loser {
  width: 390px;
  min-height: 49px;
  border: 2px solid red;
  background-color: #F57777;
  border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
}
#loser p {
  color: red;
  font-size: 20px;
  text-shadow: -1px 0 #A53F3F, 0 1px #A53F3F, 1px 0 #A53F3F, 0 -1px #A53F3F;
}
#friend {
  float: left;
  text-align: center;
  width: 100px;
  color: white;
  background-color: black;
  border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 5px;
}
#littlepic {
  height: 50px;
  width: 50px;
  margin: auto;
  border: 2px solid black;
  border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
}
#ff {
  float: left;
  background: #808080 ;
  width: 700px;
  height: 100px;
  border-top: 2px solid black;;
}
#backbut,
#forwardbut {
  float: left;
  width: 80px;
  text-align: center;
  background: #808080 ;
  margin-top: 15px;
}
#friendcollector {
  float: left;
  width: 540px;
  background: #808080 ;
}